
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background: white;
  color: #000000;
  font-family: georgia, "times new roman", times, serif;
}

/*
  ========================================
  .nav
  ========================================
*/
.nav-headline-container{
	width: 100%;
	position: fixed;
	top: 0px;

}
.nav{
	height: 45px;
	background: white;
	width: 1000px;
	margin: 0 auto;
  text-align: center;
	-moz-box-shadow: 0 0 3px 1px #999;
	-webkit-box-shadow: 0 0 3px 1px #999;
}
.nav-left{
	float: left;
}
.nav-right{
	float: right;
}
.nav a{
	display: inline-block;
	text-align: center;
	margin: 7px 4px;
	text-decoration: none;
}
.nav-button{
	color:white;
	background-color: #6288a5;
	padding: 6px;
	border-radius: 3px;
}
/*
  ========================================
  .headlines
  ========================================
*/
.headlines{
	height: 81px;
	background: white;
	width: 1000px;
	margin: 0 auto;
	margin-top: 0px;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	-moz-box-shadow: 0 0 3px 1px #999;
	-webkit-box-shadow: 0 0 3px 1px #999;
}
.headlines a{
	display: inline-block;
	width: 240px;
	margin: 0;
	border-right: 1px solid #999;

}

.headlines img{
	float: left;
	margin: 5px;
	width: 64px;

}
.headlines p{
	margin: 14px 5px;
	font-size: 13px;
}

/*
  ========================================
  .main
  ========================================
*/
h1{
  width: 1000px;
  padding-top: 30px;
  padding-bottom: 20px;
	padding-left: 15px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}
.container{
  width: 1000px;
	height: 100%;
	margin: 131px auto;
	padding:0 10px;

	-moz-box-shadow: 0 0 3px 1px #999;
	-webkit-box-shadow: 0 0 3px 1px #999;

}
.image-placement-1 img.main{
  margin-top: 130px;

}



/*
  ========================================
  .image-placement-1
  ========================================
*/
.image-placement-1{
	border-top:
}
.container img.main{
	width: 97%;
	display: block;
	margin: 0 auto;
}
p.image-title{
	padding: 10px;
	padding-left: 20px;
}
p.image-description{
	color:#A1A7B3;
	font-size: 14px;
	width: 56%;
	margin-left: 20px;
	margin-top: 4px;
	margin-bottom: 20px;
}
p.article-text{
	font-size: 17px;
	width: 55%;
	font-weight: normal;
  font-family: georgia,"times new roman",times,serif;
	line-height: 25px;
	padding-top: 20px;
	margin-left: 40px;
}
p.bold{
	font-weight:bold;
}

/*
  ========================================
  .comment
  ========================================
*/
p.comment{
	font-weight: normal;
	font-size: 12px;
	margin-top: 5px;
  font-family: georgia,"times new roman",times,serif;
}
p.comment-title{
	margin-top: 12px;
}

p.bold{
	font-weight:bold;
}


/*
  ========================================
  .image-placement-2
  ========================================
*/
.image-placement-2{
	position: relative;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	width: 97%;
	margin: 10px auto;
	padding: 20px 0;
}
 p.absoluted-p{
	font-size: 30px;
  position: absolute;
  font-weight: normal;
  text-transform: none;
  word-wrap: break-word;
  width: 228px;
  line-height: 15px;
  font-size: 13px;
	margin-top: 80px;
}
p.diagram-description{
	color:#A1A7B3;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 4px;
	margin-bottom: 20px;
}

.image-placement-2 .absoluted-p span{
  font-weight: bold;
}

p.first{
  top: 150px;
  left: 0;
}
p.second{
  top: 150px;
  left: 240px;
}
p.third{
  top: 150px;
  left: 480px;
}
p.forth{
  top: 150px;
  left: 720px;
}
p.fifth{
  top: 430px;
  left: 0;
}
p.sixth{
  top: 430px;
  left: 240px;
}
p.seventh{
  top: 430px;
  left: 480px;
}
p.eight{
  top: 430px;
  left: 720px;
}


/*
  ========================================
  .image-placement-3
  ========================================
*/
.image-placement-3{
	margin-top: 20px;
	margin-left: 30px;
}




/*
  ========================================
  More/Recommended/Trending
  ========================================
*/
.right{
	float: right;
	width: 32%;
	margin: 30px auto;
}

.left{
	float: left;
}
.links{

}
.more{

	margin: 30px 0;


	padding: 0;
	padding-right: 4px;

	width: 55%;
}
.footer-title{
	padding: 10px;
}
.large-thumb{
	width: 33%;
	padding: 4px;

}
.large-thumb img{
	width: 90%;
}
.large-thumb p{
	width: 90%;
}
.right img{
	float: right
}
p.clear{
	clear: both;
}





.small-thumb{
	clear: both;
}
.small-thumb img{
	width: 18%;
}





.footer{
	clear: both;
}
